{% extends 'base.html.twig' %}
{% block title%} Liste des Employes{% endblock %}

{% block body %}
 {% if employe %}
    <table id="Employes" class="table table-striped">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Salaire</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        {% for employe in employe %}
          <tr>
            <td>{{ employe.nom }}</td>
            <td>{{ employe.salaire }}</td>
            <td>{{ employe.email }}</td>
           <td>
              <a href="{{ path('employe_show', {'id':employe.id }) }}" class="btn btn-dark">Détails</a>
              <a href="{{ path('edit_employe', {'id':employe.id }) }}"class="btn btn-dark" 
              onclick="return confirm('Etes-vous sûr de modifie cet employe?');">Modifier</a>
              <a class="btn btn-danger" href="{{ path('delete_employe', {'id':employe.id }) }}"
              onclick="return confirm('Are you sure to delete!{{ employe.nom
              }}')">Supprimer</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>Aucun Employes</p>
  {% endif %} 
{% endblock %}